*{
    margin: 0px;
    padding: 0px;
}

/* shared style */


.button{
    background-color: #30B868;
    font-size: 16px ;
    font-weight: 600;
    color: white;
    line-height: 19px;

    border: none;
    padding: 16px 12px ;
    border-radius: 4px;
    align-items: center;
}

.interFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

/* nav style down bellow*/
nav{
   margin: 16px ;
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    gap: auto;
}

nav .navIcon{
    align-items: left;
}

nav .navOpt{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;
}

nav .button{
    align-items: right;
    align-content: center;
    height: 44px;
    width: 164px;    
}

/* banner style */


.banner{
    height: 674px;
    width: 1600px;
    background-image: url(./assets/hero-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    justify-content: center;
    align-items: center;

}

#bnr-txt{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    gap: 16px;
}

#bnrtxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 168px;
    width: 770px;
}

#text1-part1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 72px;
    font-weight: 700;
    font-style: bold;
    color: white;

}


#text1-part2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 72px;
    font-weight: 700;
    font-style: bold;
    color: #30B868;
}

.banner-part1{
    display: flex;
    justify-content:space-between;
    flex-direction: column ;
    align-items: center;
    gap: 16px;
}


.button2{
    padding: 9.5px 12px;
    border-radius: 1000px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #30B868 ;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

    display: flex;
    justify-content: space-between;
    
    gap: 6px;    
}

/* now i know why dev's hate designers */

#circle-1{
    
    background-color: #3ca4673d;
    width: 16px;
    height: 16px;
    border-radius: 8px;
     
    margin-left: 12px; 

    display: flex;
    justify-content: center;
    align-items: center;
}

#circle-2{
    background-color: #30b86977;
    width: 12px;
    height: 12px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#circle-3{
    background-color: #30B868;
    
    width: 6px;
    height: 6px;
    border-radius: 8px;
}


#paragraph1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    size: 18px;
    line-height: 24px;
    text-align: center;
    color: white;
}


/* banar 1 part 2*/

.banner-part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#button3{
    height: 52px;
    width: 198px;
    padding: 16.5px 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white ;
    background-color: transparent;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    align-items: center;

    /*display: flex;
    justify-content: space-between;
    gap: 6px;*/    
}

/* 2nd banner*/

#section-2{
    width: 1600px;
}

#banner-2{
    height: 448px;
    width: 1360px;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 120px;
    
    background-color: rgb(249, 203, 144);
    display: flex;
    flex-direction: column;
    gap: 16px;    
}

#bnr2-1{
    height: 116px;
    width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 16px;
}


#bnr2-1 h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    line-height: 58px;

    text-align: center;
    color: #212121;
}



#bnr2-1 p {
    font-family: "Inter" , sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    color: #424242;
    width: 800px;
}


  





#bnr2-2{
    width: 1360px;
    display: flex;
    flex-direction: column;
   
}



.cards{
    display: flex;
    gap: 24px;    
}

.card{
    width: 274;
    height: 300px;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    gap: 16px;
    background-color: white;
}

.circle0{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 64px;
    background-color: #F95555;
}
.card img{
    
    width: 32px;
    height: 32px;
}

.card h3{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    color: #212121;
}

.card p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    color: #627382;
}




/* section 3 */


#section3{
    padding: 120px;
    width: 1360px;
    height: 840px;
    background-color: #e8dfd9;

    display: flex;
    justify-content: space-between;
    justify-content: left;
    align-items: center;
    gap: 60px;
}













.bullet{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bullet-point{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: left;
}